.banner {
    background-image: url(Assets/image/banner.jpg);
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 12%;
    color: #fff;
    box-shadow: #afa4a4;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #0d6efd;
}

.lingkaran i {
    position: relative;
    top: 30px;
}

.corp-img {
    object-fit: cover;
}

.tim img {
    border: 6px solid #cccccc;
}

a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
}

.kontak {
    background: url(Assets/image/client.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
}

section {
    padding-top: 5rem;
}

#layanan {
    padding-top: 4rem;
}

#portofolio {
    padding-top: 4rem;
}

#tentang {
    padding-top: 4rem;
}

#staff {
    padding-top: 4rem;
}

#client {
    padding-top: 4rem;
}